.box {
	display: flex;
	background-color: var(--hover-bg);
	flex-direction: row;
	overflow-x: auto;
	white-space: nowrap;
	scrollbar-width: thin;
	scrollbar-color: var(--scroll-color) var(--secondary-bg);
}

/* ====== SCROLL ===== */
.box::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

.box::-webkit-scrollbar-track {
	background: var(--secondary-bg);
}

.box::-webkit-scrollbar-thumb {
	background-color: var(--scroll-color);
	border-radius: 40px;
}

.noScroll {
	pointer-events: none;
}

.sticky {
	position: sticky;
	left: 0;
	top: 0;
	z-index: 5;
	min-width: fit-content;
}

.pinned_shadow {
	box-shadow: 8px 0px 8px -5px rgba(34, 60, 80, 0.2);
}

/* Скрываем скролл на мобильных */
@media screen and (max-width: 767px) {
	.box::-webkit-scrollbar {
		display: none;
		width: 0px;
		height: 0px;
	}

	.box {
		scrollbar-width: none;
	}
}
